:root {
  --color-black-default: #000;
  --color-white-default: #fff;
  --color-input-bg: #bcb7b7;
  --color-primary-bright: #ae4545;
  --color-bg-dark: #121212;
  --color-gray-dark: #81eabe;
  --color-gray-middle: #b5b5b5;
  --color-gray-light: #e8e6e6;
  --color-invalid-input: #f00;
  --color-favorites-bg: rgba(10, 213, 227, 0.6);
  --color-favorite-button: #64b7f1;

  .light {
    --color-favorite-button: #0fb6db;
    --color-input-bg: #3a3a3a;
    --color-primary-bright: #bd3030;
    --color-gray-dark: #888;
    --color-gray-middle: #545454;
    --color-gray-light: #101010;
    --color-bg-dark: #b4b4b4;
    --color-white-default: #121212;
    --color-favorites-bg: rgba(250, 249, 249, 0.6);
  }
}
