li {
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    cursor: pointer;
}

li a {
    color: #000;
    text-decoration: none;
}

.card-item .loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-item,
img {
    max-width: 200px;
}
